/* Cambiar fondo del player */
.rhap_container {
  background-color: #1e1e1e !important;
}

/* Cambiar color de los botones, progreso y texto */
.rhap_main-controls,
.rhap_progress-section,
.rhap_time,
.rhap_volume-controls,
.rhap_play-pause-button,
.rhap_repeat-button,
.rhap_volume-button {
  color: #f1f1f1;
}

.rhap_progress-filled,
.rhap_volume-bar {
  background-color: #9d4edd;
}

/* Cambiar color de la bolita del progreso */
.rhap_progress-indicator, .rhap_volume-indicator {
  background-color: #424242;
}

/* Contenedor con scroll horizontal */
.scroll-container::-webkit-scrollbar {
  height: 8px; /* Altura de la barra horizontal */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #1e1e1e; /* Fondo de la pista */
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #6b21a8; /* Color del "thumb" */
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #9d4edd; /* Color al pasar el mouse */
}

